
section  {
    margin: 7.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: grey;
}

body a {
    color: grey;
    text-decoration: none;
}

/*---------------------------------------------------------------------*/
/*-             Page : index.html                                     -*/
/*--------                                                     --------*/
/*-             Code relatif à la Section.index                       -*/
/*---------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*-       1er découpage de la section : Présentation         -*/
/*------------------------------------------------------------*/


section.index div.presentation {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.index .presentation .detailsPresentation {
    width: 60%;
    margin-right: 5%;
}

.index .detailsPresentation h1 {
    font-size: xxx-large;
    margin-top: 0%;
    margin-bottom: 5%;
}

.index .detailsPresentation p {
    font-size: large;
    text-align: justify;
    text-indent: 5%;
    line-height: 1.5;
}

.index .presentation > img {
    width: 40%;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgb(238, 235, 235);
}


/*----------------------------------------------------------------------*/
/*-     2ème découpage de la section : Equipe + Ressources Utiles      -*/
/*----------------------------------------------------------------------*/


.index div.equipeEtRessources {
    display: flex;
    flex-direction: row;
    margin-top: 10%;

}

.index div.equipe {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-image: linear-gradient(rgba(251, 251, 253, 0.6), rgba(255, 255, 255, 0.4)), url(Images/Section/index.html/equipeImage1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
}

.index div.detailsEquipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0% 0% 15%;
    line-height: 1.5;

}

.index .equipe > h2 {
    text-align: left;
    font-size: xx-large;
}

.index .equipe > h2 ~ p {
    text-align: justify;
    text-indent: 5%;
    font-size: 18px;
}


.index .detailsEquipe span {
    font-weight: bolder;
    font-size: 18px;
}

.index .detailsEquipe > img {

    border-radius: 50%;
    max-height: 100px;
    margin-right: 5%;
} 





.index div.ressourcesUtiles {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}


.index .ressourcesUtiles h2 {
    text-align: center;
    margin-bottom: 10%;
    font-size: xx-large;
}

.index .ressourcesUtiles div {
    display: flex;
    flex-direction: row;
    height: 25%;
    align-items: center;
    margin: 5%;
    margin-bottom: 0;
    box-shadow: 5px -5px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255) ;

}


.index .ressourcesUtiles img {
    max-width: 50px;
    height: 50px;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;

}


/*-------------------------------------------------------------*/
/*-     3ème découpage de la section : Services proposés      -*/
/*-------------------------------------------------------------*/

section.index > h2.titreIndex {
    text-align: center;
    margin-top: 10%;
    font-size: xx-large;
    

}

.index div.services {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}



.index .services .detailsServices {
    width: 25%;
    border: 1px solid rgb(202, 202, 255);
    box-shadow: 5px -5px rgb(202, 202, 255);
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2%;
    text-align: center;
    padding-bottom: 1%;
}

.index .detailsServices img {
    max-width: 50px;
    align-items: center;
    margin: 0 auto;
}

.index .detailsServices a {
    text-decoration: none;
    border-radius: 2px;
    box-shadow:2px 2px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
    color: grey;
    margin: 0 auto;
    font-weight: bolder;
}

.index .detailsServices a:hover {
    background-color: rgba(189, 189, 189, 0.116);
}





/*------------------------------------------------------------------------------*/
/*-             Page : services.html                                           -*/
/*-----                                                                    -----*/
/*-             Code relatif à Section.services                                -*/
/*------------------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*-  Découpages de la section via succession de div (colonne)   -*/
/*---------------------------------------------------------------*/




section.services {
    display: flex;
    flex-direction: column;
}

section.services h1 {
    font-size: xx-large;

} 

section.services h1 + p {
    text-indent: 5%;
    text-align: justify;
    width: 65%;
}

section.services p {
    text-align: justify;
    text-indent: 5%;
    line-height: 1.5;
}

section.services div.detailsServices {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

section.services div.detailsServices div {
    width: 55%;

}

section.services div.detailsServices a {
    text-decoration: none;
    border-radius: 2px;
    box-shadow:2px 2px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    color: grey;
    font-weight: bolder;
}

section.services div.detailsServices a:hover {
    background-color: rgba(189, 189, 189, 0.116);
}



section.services img {
    border-radius: 20px;
    margin-right: 5%;
    width: 45%;
    height: auto;
    box-shadow: 0px 0px 5px 5px rgb(238, 235, 235);

}


section.services #reverse img {
    margin-left: 5%;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0px rgb(200, 196, 196);
}



/*--------------------------------------------------------------------------------*/
/*-             Page : reservations.html                                         -*/
/*-----                                                                      -----*/
/*-             Code relatif à Section.reservations                              -*/
/*--------------------------------------------------------------------------------*/




section.reservations div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
section.reservations img {
    width: 45%;
    display: flex;
    align-items: center;
    height: auto;
}
section.reservations div.presentationReservations {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

section.reservations div.presentationReservations h1 {
    font-size: xx-large;
}

section.reservations div.presentationReservations p {
    text-indent: 5%;
    text-align: justify;
    line-height: 1.5;
}

section.reservations  a {
    text-decoration: none;
    border-radius: 2px;
    box-shadow:2px 2px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    color: grey;
    font-weight: bolder;
    width: 50%;
    margin: 0 auto;
}

section.reservations a:hover {
    background-color: rgba(189, 189, 189, 0.116);

}


/*--------------------------------------------------------------------------------*/
/*-             Page : contact.html                                              -*/
/*-----                                                                      -----*/
/*-             Code relatif à Section.contact                                   -*/
/*--------------------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*-                        Formulaire                           -*/
/*---------------------------------------------------------------*/





section.contact div.detailsContact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.contact div.detailsContact img {
    width: 50%;

}

section.contact div.detailsContact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;


}

section.contact div.detailsContact fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    margin: 0;
}

fieldset legend {
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    box-shadow:2px 2px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
    text-align: center;
    width: 50%;

}

fieldset > * {
    margin-bottom: 1%;
    padding: 1%;
    box-shadow:2px 2px  rgb(143, 143, 143);
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(202, 202, 255);
    color: grey;
    font-family: 'Roboto Mono', monospace;



}

fieldset label {
    background-color: white;
    border: none;
    box-shadow: none;
}

fieldset textarea {
    resize: none;
}

fieldset input[type=submit] {
    background-color: white;
    box-shadow:2px 2px  rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;

}

fieldset input[type=submit]:hover {
    cursor: pointer;
    background-color: rgba(189, 189, 189, 0.116);

}

/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/  
/*                                                                                            */
/*---                                        Header                                        ---*/
/*                                                                                            */
/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/



header {
    top: 0%;
    background-color: white;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 10% 1% 10%;
    box-shadow: 0px 1px grey;
    z-index: 50;
}

/*-------Header : Partie Gauche : Logo + Nom Pharmacie----------*/

header div.logoHeader {
    width: 35%;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: bolder;
    flex-wrap: wrap;

}

.logoHeader > a  {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 50px;
    align-items: center;
    width: 80%;
}

.logoHeader img {
    max-width: 50px;
    height: 50px;
    margin-right: 2.5%;
}

/*----------------Header : Partie de droite : Barre de navigation---------------*/

header nav {
    width: 65%;
    height: auto;
    margin-left: 10%;

}

nav ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul.menu > li {
    position: relative;
    align-items: center;


}

ul.menu > li > a{

    color: grey;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: white;
    font-size: larger;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

ul.menu > li > a:hover {
    background-color: rgba(189, 189, 189, 0.116);
    border-radius: 5px;

}


ul.sousMenu {
    display: none;
    position: absolute;
    background-color: rgba(189, 189, 189, 0.116);
    border: 1px solid rgb(202, 202, 255);
    box-shadow: 2px 2px rgb(202, 202, 255) ;
    width: 120%;

}

ul.sousMenu > li{
    display: flex;
    width: 100%;
    background-color: white;
}

ul.sousMenu > li:first-child a {
    padding-top: 7.5%;
}

ul.sousMenu >li a {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-items: left;
    padding: 3%;
    background-color: white;
    align-items: center;

}

ul.sousMenu li a:hover {
    background-color: rgba(189, 189, 189, 0.116);

}

/*------Affichage du sous-Menu au survol------------*/

ul.menu li:hover > ul.sousMenu, ul.menu li:active > ul.sousMenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;

}

nav span {
    display: flex;
    margin-right: 5%;    
    align-self: center;
    justify-self: left;
}


label.header, #dropDown {
    display: none;
    cursor: pointer;
}


/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/  
/*                                                                                            */
/*---                                        Footer                                        ---*/
/*                                                                                            */
/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/





footer {
    margin: 10%;
    margin-bottom: 0;
}

footer >h2 {
    text-align: center;
    margin-bottom: 5%;
    font-size: xx-large;

}



footer > div.infosPrincipales {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1%;
}

footer .infosPrincipales > div.contact {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.infosPrincipales > iframe {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 2%;
}


footer .contact > div.detailsContact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1px;
    margin-top: 2%;
    text-align: center;
    word-break: break-all;
}

footer .detailsContact > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1px;
    margin: 20px;
    text-align: center;
    word-break: break-all;
    box-shadow: 10px -15px 0px 0px rgb(202, 202, 255);
    border: 1px solid rgb(202, 202, 255);
}

footer .detailsContact div img {
    max-width: 50px;
    margin: 0 auto;
}

footer .detailsContact div p {
    margin-top: 2%;
}


footer .detailsContact > div span {
    font-size: 17px;
    font-weight: bold;
}

footer .infosComplementaires {
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    margin-top: 5%;
}

footer .infosComplementaires >p {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: baseline;
}

footer .infosComplementaires a {
    display: flex;
    align-items: center;
}

/*---------------------*//*-----------------------*/
/*---------------------*//*-----------------------*/
/*                                                */
/*                 Bouton Remonter                */
/*                                                */
/*---------------------*//*-----------------------*/
/*---------------------*//*-----------------------*/

#boutonRemonter {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 10px;
    width: 10%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.278);
    border-radius: 5px;
    border: none;
    transition :all 2s;
    color: grey;
    font-family: 'Roboto Mono', monospace;
    font-weight:600;
    font-size: medium;

}

#boutonRemonter:hover {
    cursor: pointer;
    background-color: rgba(189, 189, 189, 0.116);
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.677);
    transition: all 2s;
}


/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/  
/*                                                                                            */
/*---                                     Media Queries                                    ---*/
/*                                                                                            */
/*--------------------------------------------*//*--------------------------------------------*/
/*--------------------------------------------*//*--------------------------------------------*/

@media screen and (max-width:1000px) {

    /*------header-------*/

    header {
        flex-direction: column;
    }

    .logoHeader {
        width: 100%;
        justify-content: center;
    }



    .logoHeader > a  {
        width: 100%;
        margin: 0 auto;
    }

    header nav {
        width: 100%;
        height: auto;
        margin-left: 0%;
    }

    /*---------footer--------*/

    footer {
        margin: 0;
    }

    footer div.infosPrincipales {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer .infosPrincipales > div.contact {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .infosPrincipales > iframe {
        
        width: 80%;
        height: 280px;
    }

    /*---------reservation.html--------------*/

    section.reservations div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    section.reservations img {
        display: none;
    }
    section.reservations div.presentationReservations {
        width: 100%;
        background-image: linear-gradient(rgba(251, 251, 253, 0.7), rgba(255, 255, 255, 0.7)), url(Images/Section/reservations.html/préparationOrdonnance.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;

    }


    /*-------services.html-----------*/

    section.services h1 {
        text-align: center;
    }

    section.services h1 + p {

        width: 100%;
    } 

    section.services div.detailsServices#reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5%;
    }

    section.services div.detailsServices {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    
    section.services div.detailsServices div {
        width: 100%;
        margin: 1%;
    
    }


    section.services img {
        margin: 0%;
        width: 80%;
    
    }
    
    
    section.services #reverse img {
        margin-left: 0%;
    }


    /*---------Contact.html-----------*/

    section.contact div.detailsContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    section.contact div.detailsContact img {
        width: 80%;
    
    }
    
    section.contact div.detailsContact form {
        display: flex;
        flex-direction: column;
        width: 90%; 
    }

    #boutonRemonter{
        width: 20%;
        height: 35px;
    }

}

@media screen and (max-width:700px) {

    #boutonRemonter{
        width: 25%;
        height: 25px;
    }


    /*--------header--------*/

    label.header {
        font-size: 40px;
        display: flex;
        float: right;
        align-self: center;
    }

    label.header + #dropDown + ul {
        display: none;
        flex-direction: column;
    }

    header {
        flex-direction: row;
    }

    .logoHeader {
        width: 20%;
        justify-content: center;
    }


    header nav {
        height: 50px;
        width: 80%;
    }

    #dropDown:checked + ul.menu {
        display: flex;
        position: absolute;
        z-index: 350;
        top: 100%;
        left: 0%;
        box-shadow:2px 2px  rgb(202, 202, 255);
        border: 1px solid rgb(202, 202, 255);
        width: 100%;
        margin: 0;
    }

  

    ul.menu > li {
        background-color: white;
        width: auto;
        text-align: left;
    }

   

    ul.menu li:hover > ul.sousMenu{
        display: none;
    }


    ul.menu > li > a{
        justify-content: left;
    }

   

   

    
    /*-------footer-------*/


    footer {
        margin: 0;
    }

    footer div.infosPrincipales {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer .infosPrincipales > div.contact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer .infosComplementaires {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .infosComplementaires >p {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 1%;
        text-align: center;
    }

    .infosPrincipales > iframe {
        
        width: 100%;
        height: 280px;
    }

    /*-----*/

    section {
        margin: 5%;
    }

    /*---Index.html-------*/

    section.index div.presentation {
        margin-top: 5%;
        display: flex;
        flex-direction: column-reverse;
    }

    .index .presentation .detailsPresentation {
        
        width: 100%;
    }


    .index .detailsPresentation h1 {
        font-size: xx-large;
        text-align: center;
    }
     
    .index .presentation > img {
        width: 100%;
        max-height: fit-content;
        margin-bottom: 5%;
        margin-left: 0%;
    }


    .index div.equipe {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: linear-gradient(rgba(251, 251, 253, 0.5), rgb(255, 255, 255)), url(Images/Section/index.html/equipeImage1.png);
        background-size: 100%;
        background-position:  top right;
        
    }
    .index div.ressourcesUtiles {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }


    .index div.equipeEtRessources {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    
    }

    .index div.services {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        flex-wrap: wrap;
        align-items: center;

    }

    .index .services .detailsServices {
    width: 50%;

    }

    /*-----------------------reservation.html-----------------*/

    section.reservations div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    section.reservations img {
        display: flex;
        width: 80%;
    }
    section.reservations div.presentationReservations {
        width: 100%;
        background-image: none;
    }
    

    /*--------------------services.html--------*/

    section.services img {
        width: 100%;
    
    }

}




